<div class="actstat-header">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="actstat-logo">
            actstat
          </div>
        </div>
        <div class="col-sm-6">
          <div class="small-header-text">
            discover your city
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="row margin-top-25">
        <div class="col-sm-6 txt-right">
          <a href="#" class="actstat-header-link">HOMEPAGE</a>
        </div>
        <div class="col-sm-6">
          <a href="#" class="actstat-header-link">SIGN IN</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-text">
  Choose a Random Statistic
</div>

<div class="container margin-bottom-50">
  <div class="row">
    <% @non.each do |n| %>
      <div class="col-sm-3">
        <!-- <div class="non-img"> -->
          <img class= "non-img" src="<%= n.image %>" alt="" class="img-responsive">
        <!-- </div> -->
        <div class="margin-top-10 medium-title">
          <%= n.name%>
        </div>
        <div class="margin-top-10">
          <input type="hidden" id="non-description-<%= n.id %>" value="<%= n.mission %>" />
          <%= n.mission[0..150] %>...
          <a href="#" class="toggle-non-desc-modal" id="<%= n.id %>">Read More</a>
        </div>
        <div class="margin-top-10">
          <a href="<%= n.website%>">Website</a>
        </div>
      </div>
    <% end %>
    <!-- <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div> -->
  </div>
</div>

<div id="non-desc-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">More Information</h4>
      </div>
      <div class="modal-body">
        <p id="non-desc-modal-body">

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
